# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# ======================
# Environment variables
# ======================
.env
.env.*
backend/.env
frontend/.env
*.sqlite3

# ======================
# Node / React
# ======================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
