# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment variables
# ======================
.env
backend/.env
frontend/.env

# ======================
# Node / React
# ======================
frontend/node_modules/
node_modules/

# ======================
# Build / Dist
# ======================
frontend/dist/
dist/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db